.contenedor-principal {
    width: 60%;
    margin: auto;
    padding-top: 120px;
}

img {
    width: 100px;
}

.eliminar {
    background: none;
    border: none;
    color: rgb(232 41 91);
    font-size: 18px;
    cursor: pointer;
}

.eliminar:hover {
    color: rgb(160, 9, 49);
}

.carrito-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.carrito-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
    gap: 5px;
}

.carrito-img img {
    width: 60px;
    height: 60px !important;
    border-radius: 5px;
}

.carrito-info {
    flex: 1;
    margin-left: 10px;
}

.carrito-nombre {
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.carrito-talle {
    font-size: 14px;
    color: #666;
}

.camiseta-talle {
    text-transform: uppercase;
}

.carrito-cantidad {
    display: flex;
}

.carrito-cantidad button {
    background: #ddd;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    color: #000000;
}

.carrito-cantidad input {
    width: 50px;
    text-align: center;
    border: none;
    color: #000000;
    padding-left: 15px;
}

.carrito-precio, .carrito-subtotal {
    font-weight: bold;
    width: 80px;
    text-align: center;
    color: #000000;
    text-align: left;
}

#contenedor-pagar {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: right;
    margin-bottom: 100px;
}

#contenedor-pagar button {
    background: rgb(232 41 91);
    color: white;
    border: none;
    padding: 8px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

#contenedor-pagar button:hover {
    background:  rgb(80 89 223);
}

#totalPrecio {
    font-size: 18px;
}

#mensaje-vacio {
    font-size: 18px;
}

.titulo-txt {
    margin-bottom: 20px;
}

.contenedor-info-carrito {
    display: flex;
    align-items: center;
    padding-right: 30px;
    gap: 20px;
}

.carrito-eliminar {
    padding-right: 10px;
}

@media screen and (max-width: 767px) {
    .contenedor-footer {
        display: block;
    }

    .contenedor-principal {
        width: 90%;
    }

    .carrito-img img {
        width: 30px;
    }

    .carrito-nombre {
        font-size: 12px;
    }

    .carrito-talle {
        font-size: 10px;
    }

    .carrito-cantidad button {
        padding: 0 5px;
    }

    .carrito-cantidad input {
        width: 30px;
        padding-left: 0;
        font-size: 12px;
    }

    .carrito-precio, .carrito-subtotal {
        font-size: 10px;
        text-align: left;
    }

    #contenedor-pagar {
        gap: 10px;
    }

    #contenedor-pagar button {
        padding: 5px 10px;
        font-size: 14px;
    }

    #totalPrecio {
        font-size: 14px;
    }

    #mensaje-vacio {
        font-size: 14px;
        text-align: center;
    }

    .eliminar {
        font-size: 14px;
        padding-left: 10px;
    }

    .titulo-txt {
        text-align: center;
    }

    .carrito-nombre {
        font-size: 10px;
    }

    .contenedor-info-carrito {
        display: flex;
        align-items: center;
        padding: 5px 0;
        width: 140px;
    }
}