.contenedor-principal {
    width: 65%;
}

.titulo-principal {
    text-align: center;
}

.titulo-productos-txt {
    padding: 20px 20px 10px;
    margin-top: 10px;
}

.contenedor-camisetas-destacadas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 20px;
}

.card-wrapper {
    margin: 0 60px 35px;
    padding: 20px 0;
    overflow: hidden;
}

.card-wrapper .swiper-pagination-bullet {
    background-color: rgba(80, 90, 223, 0.50);
    height: 14px;
    width: 14px;
}

.card-wrapper .swiper-pagination-bullet-active {
    opacity: 1;
}

.card-wrapper .swiper-slide-button {
    color: rgb(232 41 91);
    margin-top: -35px;
}

.card-wrapper .swiper-slide-button:hover {
    color: rgb(80, 90, 223);
}

.camiseta-li {
    user-select: none;
}

.aside {
    margin-bottom: 150px;
}

.frontal {
    height: 200px !important;
}

.trasera {
    height: 200px !important;
}

.imagen-hover {
    position: relative;
    display: flex;
    justify-content: center;
}

.imagen-hover img {
    display: block;
    transition: opacity 0.3s ease-in-out;
}

.imagen-hover .trasera {
    position: absolute;
    opacity: 0;
}

.contenedor-ver-todas {
    text-align: center;
    margin: 50px 0;
}

.ver-todas-camisetas {
    background-color: rgb(232 41 91);
    color: #ffffff;
    border-radius: 2rem;
    cursor: pointer;
    padding: .7rem 2rem !important;
    text-decoration: none;
}

.ver-todas-camisetas:hover {
    background-color: rgb(80 89 223);
}

.camiseta {
    border: 2px solid rgb(232 41 91);
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
}

.a-camiseta {
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.contenedor-btn-ver {
    text-align: center;
    margin-top: 10px;
    background-color: rgb(80 89 223);
    border-radius: 5px;
    padding: 8px;
    color: #ffffff;
}

.contenedor-btn-ver:hover {
    background-color: rgb(232 41 91);
}

#precio {
    margin-top: 5px;
    font-weight: bold;
    color: #00060c;
}

.nombre-camiseta {
    margin-top: 10px;
    font-weight: bold;
    color: #00060c;
}

.a-camiseta:active {
    cursor: grabbing;
}

@media screen and (max-width: 1365px) {
    .contenedor-camisetas-destacadas {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .contenedor-principal {
        padding-top: 80px;
        width: 80%;
    }

    .contenedor-camisetas-destacadas {
        grid-template-columns: repeat(2, 1fr);
    }

    .titulo-productos-txt {
        text-align: center;
    }

    img {
        height: 100px !important;
    }

    .contenedor-camisetas-destacadas {
        padding: 0;
        padding-top: 20px;
        gap: 20px;
    }

    .camiseta {
        padding: 10px;
    }

    .nombre-camiseta, #precio {
        font-size: 12px;
    }

    .contenedor-btn-ver {
        padding: 5px;
        font-size: 10px;
    }

    .ver-todas-camisetas {
        padding: .5rem 1rem !important;
    }

    .slide {
        min-width: 130px;
    }

    .frontal, .trasera {
        height: 100px !important;
    }

    .slider-prev, .slider-next {
        display: none;
    }

    .card-wrapper {
        margin: 0 10px 25px;
    }

    .card-wrapper .swiper-slide-button {
        display: none;
    }
}