* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    scroll-behavior: smooth;
}

body {
    background-color: #00060c;
    color: #ffffff;
    font-weight: 400;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.contenedor-buscador {
    display: flex;
    align-items: center;
    justify-content: center;
}

.group {
    display: flex;
    align-items: center;
    position: relative;
    width: 40px;
    transition: width 0.4s ease-in-out;
    background-color: #f3f3f4;
    border-radius: 8px;
}

.group.expandido {
    width: 300px;
}

.input {
    width: 100%;
    height: 40px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: none;
    outline: none;
    background-color: transparent;
    color: #0d0c22;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.input::placeholder {
    color: #9e9ea7;
}

.input:focus,
input:hover {
    outline: none;
    border-color: rgba(234, 76, 137, 0.4);
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
}

.group.expandido .input {
    opacity: 1;
}

.icon {
    position: absolute;
    left: 10px;
    fill: #9e9ea7;
    width: 20px;
    height: 20px;
    z-index: 10;
    cursor: pointer;
}

.contenedor-principal {
    width: 80%;
    margin: auto;
    padding-top: 130px;
}

.contenedor-nav {
    align-items: center;
    background-color: #21212150;
    display: flex;
    justify-content: space-between;
    padding: 1.8rem 7rem 1.8rem 6.2rem;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    gap: 15px;
}

.logo-txt {
    text-decoration: none;
}

.joaquin {
    color: rgb(210 84 117);
    font-weight: 600;
    font-size: 20px;
}

.mongelos {
    color: rgb(80 89 223);
    font-weight: 600;
    font-size: 20px;
}

.retro {
    color: rgb(210 84 117);
    font-weight: 600;
    font-size: 20px;
}

.store {
    color: rgb(80 89 223);
    font-weight: 600;
    font-size: 20px;
}

.contenedor-menu-nav {
    gap: 1.8rem;
    display: flex;
    align-items: center;
}

.menu-a {
    color: #ffffff;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 1.2rem;
    cursor: pointer;
}

.carrito {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.footer {
    position: relative;
    width: 100%;
    padding-bottom: 2rem;
}

.contenedor-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 8rem;
    position: absolute;
    bottom: 0;
    background-color: #21212150;
}

.contenedor-principal-redes {
    display: flex;
    justify-content: center;
}

.contenedor-redes {
    display: flex;
    align-items: center;
    gap: 25px;
}

.linkedin,
.github,
.email {
    text-decoration: none;
    color: inherit;
    font-size: 2rem;
}

.cv {
    background-color: rgb(232 41 91);
    color: #ffffff;
    border-radius: 2rem;
    cursor: pointer;
    padding: 0.3rem 2rem !important;
    text-decoration: none;
}

.contenedor-carrito-menu {
    display: none;
}

.contenedor-buscador-mobile {
    display: none;
}

@media screen and (max-width: 1100px) {
    .menu-toggle {
        display: block;
    }

    .contenedor-menu-nav {
        flex-direction: column;
        background-color: #212121;
        position: absolute;
        top: 100%;
        right: 0;
        width: 100%;
        padding: 1rem;
        opacity: 0;
        transform: translateY(-20px);
        visibility: hidden;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .contenedor-menu-nav.active {
        opacity: 1;
        transform: translateY(0);
        visibility: visible;
        background-color: #212121f0;
    }

    .contenedor-nav {
        padding: 10px;
    }

    .joaquin {
        font-size: 14px;
    }

    .mongelos {
        font-size: 14px;
    }

    .contenedor-footer {
        display: block;
        margin: 0;
    }

    .contenedor-full-nombre {
        text-align: center;
    }

    .contenedor-principal-redes {
        margin-top: 10px;
    }

    .contenedor-carrito-menu {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .carrito {
        gap: 4px;
    }

    .retro {
        font-size: 14px;
    }

    .store {
        font-size: 14px;
    }

    .contenedor-buscador-mobile {
        display: block;
    }

    .icon {
        width: 10px;
        height: 10px;
        left: 10px;
        bottom: 9px;
    }

    .group {
        width: 30px;
    }

    .input {
        height: 30px;
        font-size: 12px;
        padding: 0;
        padding-left: 1.8rem;
    }

    .group.expandido {
        width: 180px;
    }

    .menu-a {
        font-size: 12px;
    }
}