.contenedor-principal {
    width: 60%;
    margin: auto;
    padding-top: 120px;
}

img {
    width: 300px;
}

.contenedor-camiseta {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.otros-productos-txt {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider-prev,
.slider-next {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    transform: translateY(-50%);
}

.camisetas-oferta {
    width: 200px;
    height: 200px;
}

.contenedor {
    position: relative;
    display: inline-block;
}

.lupa {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 2px solid #000;
    background-repeat: no-repeat;
    pointer-events: none;
    display: none;
}

.miniaturas {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}

.miniatura {
    width: 50px; 
    height: 50px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.2s ease-in-out;
}

.miniatura:hover {
    border: 2px solid #000;
}